GEE_PROJECT=
GEE_SERVICE_ACCOUNT_KEY=
OPENROUTER_API_KEY=
LLM_MODEL=google/gemma-3-27b-it
DATA_DIR=./data
WORLDPOP_PATH=./data/worldpop/pak_ppp_2020_100m.tif
MODEL_CHECKPOINT=MuhammadBilal0021/segformer-flood-sentinel
LOG_LEVEL=INFO
